POSTGRES_DB=jupiter
POSTGRES_USER=jupiter
POSTGRES_PASSWORD=CHANGE_ME_local_only
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_local_only
RABBITMQ_USER=jupiter
RABBITMQ_PASSWORD=CHANGE_ME_local_only
VITE_KEYCLOAK_URL=http://localhost:8082
VITE_KEYCLOAK_REALM=jupiter
VITE_KEYCLOAK_CLIENT_ID=jupiter-web